Cython
matplotlib
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
DendroPy==4.1.0
gnureadline==6.3.3
networkx==1.11
numpy==1.11.0
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
simplegeneric==0.8.1
six==1.10.0
tabulate==0.7.5
traitlets==4.2.1
wheel==0.24.0
